header {z-index: 999;
    position: flex;
    display: flex; align-items: center; justify-content: space-between;
    width: 1850px; margin: 0 auto;
    background-color: #fff;
    padding-top: 30.5px; padding-bottom: 30.5px;
}
/* logo */
header .header_left {
    display: flex; align-items: center;
}
header .header_left h1 {margin-right: 30px;}
header .header_left h1 a {}
header .header_left h1 a img {}
/* nav */
header .header_left nav {}
/* gnb메뉴 */
header .header_left nav .gnb {
    display: flex;
}
header .header_left nav .gnb li {
    margin-right: 23px;
    font-size: 0.938rem; font-weight: 500;
}
header .header_left nav .gnb li:nth-child(3) {color: #56B2F6;}
header .header_left nav .gnb li:last-child {margin-right: 0;}
header .header_left nav .gnb li a {}
/* sub메뉴 */
header .header_left nav .gnb li .sub {display: none;}
header .header_left nav .gnb li .sub li {}
header .header_left nav .gnb li .sub li a {}
/* header right */
header .header_right {
    display: flex; align-items: center;
}
/* login, join, cart 공통 */
header .header_right a {
    display: flex; align-items: center;
    margin-right: 20px;

}
header .header_right a:last-child {margin-right: 0;}
header .header_right a img {margin-right: 1px;}
header .header_right a span {
    font-size: 0.938rem;
}
/* =================================== */
main {}
main .main1 {
    width: 1920px; margin: 0 auto;
    margin-bottom: 60px;
}
/* -----swiper 시작 */
main .main1 .swiper {}
main .main1 .main1-slide {}
main .main1 .swiper {}
main .main1 .swiper .swiper-wrapper {}
main .main1 .swiper .swiper-wrapper .swiper-slide {}
/* 건들면 안됨 */
main .main1 .swiper .swiper-wrapper .swiper-slide .main1_bg {}
main .main1 .swiper .swiper-wrapper .swiper-slide .main1_bg img {}
/* ========================================== */
main .main2 {/* background-color: lightblue; */
    width: 1685px; margin: 0 auto;
    margin-bottom: 92px;
}
/* main2 메뉴들 전체-만원대-반값할인-역마진-우먼즈-맨즈-골프-키즈-슈즈&용품 */
main .main2 .main2_top {
    margin-bottom: 60px;
    display: flex; justify-content: space-between;
}
main .main2 .main2_top .main2_top_left {}
main .main2 .main2_top .main2_top_left a {
    margin-right: 11px;
    width: 70px;
    background-color: #F8F8F8; color: #464646; 
    border: 1px solid #dadada; border-radius: 30px;
    padding: 7.5px 16px; text-align: center;
}
main .main2 .main2_top .main2_top_left a:first-child {
    background-color: #464646; color: #fff;
    width: 70px; padding: 7.5px 16px; text-align: center;
    border: 0;
}
main .main2 .main2_top .main2_top_left a:last-child {margin-right: 0;}
/* 신상품 - 낮은가격 - 높은가격 - 인기상품 */
main .main2 .main2_top .main2_top_right {}
main .main2 .main2_top .main2_top_right a {
    margin-right: 16px;
    font-size: 0.938rem; 
}
main .main2 .main2_top .main2_top_right a:last-child {margin-right: 0;}
/* product */
main .main2 .main2_bottom {}
main .main2 .main2_bottom .product {
    display: flex;
}
main .main2 .main2_bottom .product a {
    margin-right: 40px;
}
main .main2 .main2_bottom .product a:last-child {margin-right: 0;}
main .main2 .main2_bottom .product a p {
    margin-bottom: 8px;
}
main .main2 .main2_bottom .product a p img {}
main .main2 .main2_bottom .product a .product_content {}
main .main2 .main2_bottom .product a .product_content .top {
    display: flex; justify-content: space-between;
    margin-bottom: 9px;
}
main .main2 .main2_bottom .product a .product_content .top .product_num {
    font-size: 0.813rem; color: #A7A7A7;
}
main .main2 .main2_bottom .product a .product_content .top .review {
    font-size: 0.813rem; color: #EE5E95;
}
main .main2 .main2_bottom .product a .product_content h2 {
    margin-bottom: 7px;
    font-size: 0.938rem; font-weight: 500;
}
main .main2 .main2_bottom .product a .product_content .bottom {
    display: flex;
}
main .main2 .main2_bottom .product a .product_content .bottom p {
    margin-right: 9px;
}
main .main2 .main2_bottom .product a .product_content .bottomn p:last-child {margin-right: 0;}
main .main2 .main2_bottom .product a .product_content .bottom .percent {
    font-size: 0.938rem; color: #EE5E95;
}
main .main2 .main2_bottom .product a .product_content .bottom .price {font-size: 0.938rem;}
main .main2 .main2_bottom .product a .product_content .bottom .cost {}
main .main2 .main2_bottom .product a .product_content .bottom .cost del {
    font-size: 0.813rem; color: #595656;
}
/* ============================================================================ */
main .main3_bg {
    width: 1920px; margin: 0 auto;
    margin-bottom: 81px;
}
main .main3_bg img {}
/* ============================================================================== */
main .main4 {
    width: 1920px; margin: 0 auto;
    text-align: center;
    margin-bottom: 81px; 
}
main .main4 h2 {
    font-size: 2.813rem; font-weight: 600;
    margin-bottom: 27px;
}
main .main4 p {
    font-size: 1.25rem; line-height: 40px; letter-spacing: -0.2px;
}
/* ================================================================ */
main .main5_bg {width: 1920px; margin: 0 auto; margin-bottom: 70px;}
/* ================================================================ */
main .main6 {
    width: 1845px; margin: 0 auto;
    margin-bottom: 89px;
}
main .main6 .summer_collection {text-align: center; margin-bottom: 49px;}
main .main6 .summer_collection h2 {}
main .main6 .summer_collection h2 img {}
main .main6 .summer_collection h3 {
    font-size: 1.875rem;
}
main .main6 .summer_collection_menu {
    margin-bottom: 66px; text-align: center;
}
main .main6 .summer_collection_menu a {
    background-color: #F8F8F8; color: #464646; 
    border: 1px solid #dadada; border-radius: 30px;
    padding: 7.5px 16px; text-align: center;
    margin-right: 11px;
}
main .main6 .summer_collection_menu a:first-child {
    background-color: #464646; color: #fff;
    padding: 7.5px 16px; text-align: center;
    border: 0;
}
main .main6 .summer_collection_menu a:last-child {margin-right: 0;}
/* 상품 시작 */
main .main6 .summer_collection_product {
    display: flex;
}
main .main6 .summer_collection_product a {
    margin-right: 22px;
}
main .main6 .summer_collection_product a > p {
    margin-bottom: 18px;
}
main .main6 .summer_collection_product a p img {}
/* 상품 내용 */
main .main6 .summer_collection_product a .s_c_product_content {}
main .main6 .summer_collection_product a .s_c_product_content .top {
    display: flex; justify-content: space-between;
    margin-bottom: 9px;
}
main .main6 .summer_collection_product a .s_c_product_content .top .product_num {
    font-size: 0.813rem; color: #A7A7A7;
}
main .main6 .summer_collection_product a .s_c_product_content .top .review {
    font-size: 0.813rem; color: #EE5E95;
}
main .main6 .summer_collection_product a .s_c_product_content h2 {
    font-size: 0.938rem; font-weight: 500;
    margin-bottom: 7px;
}
main .main6 .summer_collection_product a .s_c_product_content .bottom {
    display: flex; align-items: center;
}
main .main6 .summer_collection_product a .s_c_product_content .bottom .percent {
    font-size: 0.938rem; color: #EE5E95;
    margin-right: 9px;
}
main .main6 .summer_collection_product a .s_c_product_content .bottom .price {
    font-size: 0.938rem; 
    margin-right: 9px;
}
main .main6 .summer_collection_product a .s_c_product_content .bottom .cost {}
main .main6 .summer_collection_product a .s_c_product_content .bottom .cost del {
    font-size: 0.813rem; color: #595656;
}
/* ========================================================================= */
main .main7 {
    width: 1920px; margin: 0 auto;
}
main .main7 .coupon {
    background-color: #000;
    padding: 31px 0;
    display: flex; align-items: center; justify-content: center;
}
main .main7 .coupon img {
    margin-right: 9px; /* border: 1px solid red; */
}
main .main7 .coupon span {
    color: #fff;
    font-size: 1.875rem; font-weight: 600;
}
/* ================================= */
main .main8 {
    width: 1920px; margin: 0 auto;
    background-color: #f4f4f4;
}
main .main8 .footer {
    width: 1750px; margin: 0 auto; 
    display: flex; justify-content: space-between;
    padding: 71.87px 85px 72.78px;
}
main .main8 .footer .footer_left {/* border: 1px solid red; */}
main .main8 .footer .footer_left h2 {
    margin-bottom: 11.98px;
}
main .main8 .footer .footer_left h2 a {}
main .main8 .footer .footer_left h2 a img {}
main .main8 .footer .footer_left > p {
    margin-bottom: 2px;
    font-size: 0.813rem;
}
main .main8 .footer .footer_left > p:last-child {margin-bottom: 0;}
main .main8 .footer .footer_left .footer_left_info {
    margin-top: 23.96px; 
    display: flex; align-items: center;
    margin-bottom: 26.95px;
}
main .main8 .footer .footer_left .footer_left_info a {
    font-size: 0.75rem; color: #828282;
    position: relative;
    margin-right: 10px; margin-left: 10px;
}
main .main8 .footer .footer_left .footer_left_info a:first-child {margin-left: 0;}
main .main8 .footer .footer_left .footer_left_info a:last-child {margin-right: 0;}
main .main8 .footer .footer_left .footer_left_info a::after {
    content: ''; display: block;
    width: 1px; height: 10px;
    background-color: #828282;
    position: absolute; right: -10px; top: 1px;
}
main .main8 .footer .footer_left .footer_left_info a:last-child::after {display: none;}
/* --------------------- */
main .main8 .footer .footer_left .footer_left_contents {
    margin-bottom: 26.95px; color: #828282; 
    /* border: 1px solid blue; */
}
main .main8 .footer .footer_left .footer_left_contents:last-child {margin-bottom: 0;}
main .main8 .footer .footer_left .footer_left_contents .f_l_content {
    display: flex; align-items: center; justify-content: start;
    align-items: center;
}
main .main8 .footer .footer_left .footer_left_contents .f_l_content p {
    margin-bottom: 7px; font-size: 0.75rem;
    margin-right: 20px;
    position: relative;
}
main .main8 .footer .footer_left .footer_left_contents .f_l_content p::after {
    content: '';
    width: 1px; height: 10px; background-color: #828282;
    position: absolute; right: -10px; top: 1px;
}
main .main8 .footer .footer_left .footer_left_contents .f_l_content p:last-child::after {display: none;}
main .main8 footer .footer_left .footer_left_contents .f_l_content p:last-child {margin-right: 0;}
main .main8 .footer .footer_left .footer_left_contents > p {
    font-size: 0.75rem; margin-bottom: 7px;
}
main .main8 .footer .footer_left .footer_left_contents > p:last-child {
    margin-bottom: 0;
}
main .main8 .footer .footer_left .footer_left_contents > p:first-child {
    margin-bottom: 0;
}
/* -----------footer_right */
main .main8 .footer .footer_right {/* border: 1px solid blue; */}
/* -----탑 */
main .main8 .footer .footer_right .f_r_top {
    /* background-color: lightgreen; */
    display: flex; 
    margin-bottom: 45.44px;
}
main .main8 .footer .footer_right .f_r_top .f_r_top_subject {
    margin-right: 50px;
}
main .main8 .footer .footer_right .f_r_top .f_r_top_subject:last-child {margin-right: 0;}
main .main8 .footer .footer_right .f_r_top .f_r_top_subject .title {
    font-size: 0.938rem; font-weight: 500;
    margin-bottom: 10px;
}
main .main8 .footer .footer_right .f_r_top .f_r_top_subject .content {}
main .main8 .footer .footer_right .f_r_top .f_r_top_subject .content p {
    margin-bottom: 6px;
    font-size: 0.75rem; color: #828282;
}
main .main8 .footer .footer_right .f_r_top .f_r_top_content {
    line-height: 18px; font-size: 0.75rem; color: #828282;
    margin-top: 13px;
}
main .main8 .footer .footer_right .f_r_top .f_r_top_subject .content p span {font-size: 0.75rem; margin-left: 8px;}
main .main8 .footer .footer_right .f_r_top .f_r_top_subject button {
    width: 105px; background-color: #000; border: 0; border-radius: 2px;
    display: flex; align-items: center; text-align: center;
    padding: 6px 8px;
    margin-top: 25px;
}
main .main8 .footer .footer_right .f_r_top .f_r_top_subject button span {
    color: #fff; font-size: 0.75rem; 
    margin-right: 6px;
}
main .main8 .footer .footer_right .f_r_top .f_r_top_subject .content button img {}
/* -----센터 */
main .main8 .footer .footer_right .f_r_center {
    /* background-color: lightgoldenrodyellow; */
    margin-bottom: 91.22px;
    display: flex;
}
main .main8 .footer .footer_right .f_r_center .f_r_center_subject {
    margin-right: 60px;
    display: flex; flex-flow: column nowrap;
}
main .main8 .footer .footer_right .f_r_center .f_r_center_subject:last-child {
    /* background-color: aqua; */ margin-right: 0;
}
main .main8 .footer .footer_right .f_r_center .f_r_center_subject .title {
    font-size: 0.938rem; font-weight: 500;
    margin-bottom: 10px;
}
main .main8 .footer .footer_right .f_r_center .f_r_center_subject > p {}
main .main8 .footer .footer_right .f_r_center .f_r_center_subject > p img {}
main .main8 .footer .footer_right .f_r_center .f_r_center_subject .content{
    display: flex; align-items: center;
}
main .main8 .footer .footer_right .f_r_center .f_r_center_subject .content > a {
    margin-right: 10px; 
    font-size: 0.75rem; color: #999;
}
main .main8 .footer .footer_right .f_r_center .f_r_center_subject a img {}
/* -----바텀 */
main .main8 .footer .footer_right .f_r_bottom {
    /* background-color: lightblue; */
    display: flex; align-items: center; float: right;
}
main .main8 .footer .footer_right .f_r_bottom img {margin-right: 7px;}
main .main8 .footer .footer_right .f_r_bottom span {font-size: 0.75rem;}